Eagle/.vs/
Eagle/Eagle.Web/bin/
Eagle/Eagle.Web/obj/
Eagle/Eagle/bin/
Eagle/Eagle/obj/
Eagle/Feature.Infrastructure/obj/
Eagle/Feature.Infrastructure/bin/
Eagle/PlayGround/bin/
Eagle/PlayGround/obj/
Eagle/Eagle.TestNode1/bin/Debug/
Eagle/Eagle.TestNode1/obj/
Eagle/Eagle.Dashboard/bin/
Eagle/Eagle.Dashboard/obj/
Eagle/Eagle.TestNode1/bin/
Eagle/Eagle.TestNode2/bin/
Eagle/Eagle.TestNode2/obj/
