Eagle/.vs/
Eagle/Eagle.Web/bin/
Eagle/Eagle.Web/obj/
Eagle/Eagle/bin/
Eagle/Eagle/obj/
Eagle/Feature.Infrastructure/obj/
Eagle/Feature.Infrastructure/bin/
Eagle/PlayGround/bin/
Eagle/PlayGround/obj/
/MongoDBCSharp
